<h1><%= link_to "S U P E R  H E R O S", heroines_path %></h1>

<h1>Super Power</h1>
<label><b>Type: </b></label>
<%= @power.name %><br><br>
<label><b>Description: </b></label>
<%= @power.description %><br><br>
