<h1>Which Heroine will save the day?</h1>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<h4> <%= link_to "Make your own heroin!", new_heroine_path %></h4>
